/*Variables*/

$font-text: 'Roboto Slab', serif;
$font-head: 'Bangers', cursive;

/*Global*/

body {
  font-family: $font-text;
  text-align: center;
}

.container {
  position:relative;
}

img {
  position:absolute;
}

h1,
.counter {
font-size: 50px;
font-family: $font-head;
margin-bottom: 10px;
user-select: none;
}

.computer {

  width:250px;
  height:150px;
  transform: translate(-40%,100px);
  z-index: -10;
}

.bubble {

  width:280px;
  height:200px;
  transform: translate(-50%,-55px) scaleX(-1);
  z-index: -5;
}


span:hover {
  color: #FFAA00;
  text-shadow: 2px 1px black;
}

#messages {
  margin-top: 80px;
}

#messages div:last-of-type {
    font-weight: 700;
}

.counter {
  width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  margin-top: 60px;
}

.counter-computer{
text-align:left;
}
.counter-player{
text-align: right;
}
